* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #EAEFF3;
}

textarea {
    resize: none;
}

#logo {
    width: 250px;
}

hr {
    border-top: 1px solid #C0C8CA; 
}

.whiteText {
    color: white;
}

.logoColorText {
    color: #FCDC01;
}

.intro {
    text-align: center;
    font-size: 50px;
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    color: white;
    background-image: url(images/background.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro span {
    width: 50%;
    background-color: rgba(0,0,0,0.2);
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

form {
    width: 45%;
}

.contact-text {
    display: block;
    font-size: 30px;
    padding: 0 10px;
    color: #403866;
    text-transform: uppercase;
    margin: 0px 0 30px;
}

.contact-field {
    padding: 10px;
}

input {
    height: 40px;
    font-size: 14pt; 
    padding: 0 10px;
    width: 100%;
    border: none;
}

textarea {
    height: 80px;
    font-size: 14pt; 
    padding: 0 10px;
    width: 100%;
    border: none;
    padding-top: 5px;
}

::placeholder {
    color: #8f8fa1;
}

::-webkit-input-placeholder {
    color: #8f8fa1;
}

::-moz-placeholder {
    color: #8f8fa1;
}

::-ms-input-placeholder {
    color: #8f8fa1;
}

button {
    width: 100px;
    height: 40px;
    background-color: white;
}

#footer {
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
}

#footer div {
    padding: 20px 0;
}

#footer span {
    font-size: 30px;
    display: block;
    padding: 10px 0;
    color: #FCDC01;
}