* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #EAEFF3;
}

textarea {
    resize: none;
}

#logo {
    width: 250px;
}

hr {
    border-top: 1px solid #C0C8CA; 
}

.whiteText {
    color: white;
}

.logoColorText {
    color: #FCDC01;
}

/* Header */

.intro {
    text-align: center;
    font-size: 50px;
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    color: white;
    background-image: url(images/background.jpg);
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro span {
    width: 50%;
    background-color: rgba(0,0,0,0.2);
}

/* Profile */

#profile {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.7);
}

#profile > div {
    margin: 40px 0;
}

.photo {
    flex: 1;
    text-align: center;
}

.description {
    flex: 2;
    text-align: justify;
}

.description p {
    color: white;
    font-size: 22px;
    padding: 20px;
    width: 80%;
}

.photo img {
    width: 230px;
    height: 300px;
    padding: 20px;
}

/* Contact US */
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

form {
    width: 45%;
}

.contact-text {
    display: block;
    font-size: 30px;
    padding: 0 10px;
    color: rgba(0,0,0,0.7);
    text-transform: uppercase;
    margin: 0px 0 30px;
    text-align: center;
}

.contact-field {
    padding: 10px;
}

input {
    height: 40px;
    font-size: 14pt; 
    padding: 0 10px;
    width: 100%;
    border: none;
}

textarea {
    height: 150px;
    font-size: 14pt; 
    padding: 0 10px;
    width: 100%;
    border: none;
    padding-top: 5px;
}

::placeholder {
    color: #8f8fa1;
}

::-webkit-input-placeholder {
    color: #8f8fa1;
}

::-moz-placeholder {
    color: #8f8fa1;
}

::-ms-input-placeholder {
    color: #8f8fa1;
}

button {
    width: 100px;
    height: 40px;
    color: rgba(0,0,0,0.7);
    cursor: pointer;
    background: none;
    border: 2px solid rgba(0,0,0,0.7);
}

button:hover {
    color: white;
    background-color: rgba(0,0,0,0.7);
    transition: all 0.5s
}

/* Footer */
#footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding:20px 0;
    display: flex;
  }
  
  .contact-detail {
    margin:60px auto;
    width: 30%;
    padding: 0 30px;
  }

  .company-detail {
    margin:60px auto;
    width: 20%;
    padding: 0 30px;
  }

  .contact-detail > div {
      margin: 20px 0;
  }
  
  .contact-detail span {
    padding:10px;
    font-size: 20px;
    color: white;
    font-family: 'Anton', sans-serif;
  }

  .company-detail > span {
    padding:10px 0;
    font-size: 18px;
    color: white;
    display: block;
    font-family: 'Anton', sans-serif;
  }

  .company-detail > p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    font-family: 'Oswald', sans-serif;
    text-align: justify;
  }